html,
body,
#root {
  font-family: Inter;
  height: 100%;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.full {
  width: 100%;
  height: 100%;
}

.header-text {
  display: flex;
  flex-direction: column;
  color: #000000;
  line-height: 100%;
  font-size: xx-large;
  gap: 65%;
  margin-top: 0.3%;
  padding-left: 3%;
  padding-right: 3%;
}

.white-box {
  height: 4%;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #000000;
  line-height: 100%;
  font-size: xx-large;
  gap: 65%;
  margin-top: 1%;
  padding: 1%;
}

.grey-box {
  background-image: linear-gradient(180deg, #d9d9d9 0%, #bcbbbb 100%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.3%;
}

.pink-box {
  background-image: linear-gradient(239.54deg, #d9d9d9 12.81%, #ff7787 100.59%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
  padding-bottom: 10%;
}

.graph-box {
  border-radius: 3%;
}

/**
.reddit-box {
  background-color: white;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  height:40%;
  overflow-y: scroll;
}
**/
.reddit-box-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.reddit-box-body {
  overflow: scroll;
  height: 30%;
  background: white;
  margin-bottom: 3%;
  width: 80%;
  border-radius: 4%;
}

.course-list {
  background-color: white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 3%;
  padding: 1%;
}

.course-list-item {
  border-bottom: 4px solid #d9d9d9;
  flex-direction: row;
  display: flex;
  gap: 3%;
}

.reddit-list-item {
  padding: 10px;
  border-bottom: 4px solid #d9d9d9;
  margin-bottom: 2%;
  cursor: pointer;
}

.heading-style {
  font-weight: 400;
}

.bold-heading-style {
  font-weight: bolder !important;
}

.search-box {
  width: 30%;
  color: black;
  outline: none;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

.search-box input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  width: 90%;
}

.search-box button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.8;
}

.search-box button[type="submit"]:hover {
  opacity: 1;
}

.search-box button[type="submit"]:focus,
.search-box input[type="search"]:focus {
  outline: none !important;
}



.pink-box h1,
.pink-box h4 {
  font-weight: 400;
}

.white-box p {
  width: 50%;
}
/**
.professor-list {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  overflow-y: scroll;
  gap: 2%;
  margin-top: 6%;
  overflow: auto;
}

.professor-list-item {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
}

.row1 {
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
**/
